
doctype html
html(lang='de')
    head
        meta(charset="UTF-8")
        ul.nav.nav-tabs
            li.nav-item
                a.nav-link.active(
                    href="#"
                    aria-current="page"
                ) Startseite
            li.nav-item.dropdown
                a.nav-link.dropdown-toggle(
                    aria-expanded="false"
                    role="button"
                    href="#"
                    data-bs-toggle="dropdown"               
                ) Dokumente
                ul.dropdown-menu
                    li
                        a.dropdown-item(href="documents.html") Informationen zu Rassismus
                    li
                        a.dropdown-item(href="#") Informationen zu Sexismus
                    li
                        a.dropdown-item(href="#") Informationen zu Queerfeindlichkeit
                    li
                        hr.dropdown-divider
                    li
                        a.dropdown-item(href="#") Aktuelle Informationen
            li.nav-item.dropdown
                a.nav-link.dropdown-toggle(
                    aria-expanded="false"
                    role="button"
                    href="#"
                    data-bs-toggle="dropdown"
                ) Informationen und Impressum
                ul.dropdown-menu
                    li
                        a.dropdown-item(href="#") Über diese Seite
                    li
                        a.dropdown-item(href="#") Über die Autorin
            li.nav-item.dropdown
                a.nav-link.dropdown-toggle(
                    aria-expanded="false"
                    role="button"
                    href="#"
                    data-bs-toggle="dropdown"
                ) Tipps und Tricks gegen Hass im Netz
                ul.dropdown-menu
                    li
                        a.dropdown-item(href="#") Wie erkenne ich Hass im Netz?
                    li
                        a.dropdown-item(href="#") Was kann ich gegen Hass im Netz tun?
                    li
                        a.dropdown-item(href="#") Wo finde ich Hilfe bei Hass gegen mich?



    body
        .bg-success.bg-opacity-50
            h1.display-1.fw-bold HASS IM NETZ
            p1 Eine Masterarbeit von A. Brügger
            div Betreut von D. Goldsmith und Prof. Dr. F. Metzger der
                a.btn.btn-outline-dark.ms-2(href="https://www.phlu.ch/") Pädagogischen Hochschule Luzern

        h1.mt-1.fw-bolder Themen zu Hass im Netz - Kurzübersicht
        hr
        head
                meta(charset='utf-8')
                meta(name='viewport', content='width=device-width, initial-scale=1')
                link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css', rel='stylesheet')
                link(href='https://getbootstrap.com/docs/5.2/assets/css/docs.css', rel='stylesheet')
                title Bootstrap Example
                script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js')
    main
        .container.text-center
            .row.row-cols-auto
                .col
                    .card(style='width: 20rem;')
                        h2.card-header.fw-semibold Rassismus
                            img.card-img-bottom(src="R.jpg" alt="...")
                            ul.list-group.list-group-flush
                                li.list-group-item
                                    .accordion
                                        .accordion-item
                                            h3#headingOne.accordion-header
                                                button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseOne', aria-expanded='false', aria-controls='collapseOne')
                                                    | Historischer Hintergrund
                                            #collapseOne.accordion-collapse.collapse(aria-labelledby='headingOne', data-bs-parent='#accordionExample', style='')
                                                .accordion-body
                                                    .accordion-item Text
                                li.list-group-item
                                    .accordion
                                        .accordion-item
                                            h4#headingTwo.accordion-header
                                                button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                                                    | Ursachen und Folgen
                                            #collapseTwo.accordion-collapse.collapse(aria-labelledby='headingTwo', data-bs-parent='#accordionExample', style='')
                                                .accordion-body
                                                    .accordion-item Text
                                li.list-group-item
                                    .accordion
                                        .accordion-item
                                            h5#headingThree.accordion-header
                                                button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                                                    | Eine persönliche Geschichte
                                            #collapseThree.accordion-collapse.collapse(aria-labelledby='headingThree', data-bs-parent='#accordionExample', style='')
                                                .accordion-body
                                                    .accordion-item Text

                .col
                    .card(style='width: 20rem;')
                        h3.card-header.fw-semibold Sexismus
                            img.card-img-bottom(src="R.jpg" alt="...")
                            ul.list-group.list-group-flush
                                li.list-group-item
                                    .accordion
                                        .accordion-item
                                            h3#headingFour.accordion-header
                                                button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
                                                    | Historischer Hintergrund
                                            #collapseFour.accordion-collapse.collapse(aria-labelledby='headingFour', data-bs-parent='#accordionExample', style='')
                                                .accordion-body
                                                    .accordion-item Text
                                li.list-group-item
                                    .accordion
                                        .accordion-item
                                            h3#headingFive.accordion-header
                                                button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
                                                    | Ursachen und Folgen
                                            #collapseFive.accordion-collapse.collapse(aria-labelledby='headingFive', data-bs-parent='#accordionExample', style='')
                                                .accordion-body
                                                    .accordion-item Text
                                li.list-group-item
                                    .accordion
                                        .accordion-item
                                            h3#headingSix.accordion-header
                                                button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseSix', aria-expanded='false', aria-controls='collapseSix')
                                                    | Eine persönliche Geschichte
                                            #collapseSix.accordion-collapse.collapse(aria-labelledby='headingSix', data-bs-parent='#accordionExample', style='')
                                                .accordion-body
                                                    .accordion-item Text
                .col
                    .card(style='width: 20rem;')
                        h3.card-header.fw-semibold Queerfeindlichkeit
                            img.card-img-bottom(src="R.jpg" alt="...")
                            ul.list-group.list-group-flush
                                li.list-group-item
                                    .accordion
                                        .accordion-item
                                            h3#headingSeven.accordion-header
                                                button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseSeven', aria-expanded='false', aria-controls='collapseSeven')
                                                    | Historischer Hintergrund
                                            #collapseSeven.accordion-collapse.collapse(aria-labelledby='headingSeven', data-bs-parent='#accordionExample', style='')
                                                .accordion-body
                                                    .accordion-item Text
                                li.list-group-item
                                    .accordion
                                        .accordion-item
                                            h3#headingEight.accordion-header
                                                button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseEight', aria-expanded='false', aria-controls='collapseEight')
                                                    | Ursachen und Folgen
                                            #collapseEight.accordion-collapse.collapse(aria-labelledby='headingEight', data-bs-parent='#accordionExample', style='')
                                                .accordion-body
                                                    .accordion-item Text
                                li.list-group-item
                                    .accordion
                                        .accordion-item
                                            h3#headingNine.accordion-header
                                                button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseNine', aria-expanded='false', aria-controls='collapseNine')
                                                    | Eine persönliche Geschichte
                                            #collapseNine.accordion-collapse.collapse(aria-labelledby='headingNine', data-bs-parent='#accordionExample', style='')
                                                .accordion-body
                                                    .accordion-item Text






